.linkBTN {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
  }

.titleMain {
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.titleWatch {
    margin: 20px 10px 10px 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.imageCatHero {
    width: 100%;
    height: auto;
}

.imageContainer {
    width: 87%;
    margin: auto;
}

.imageWatch {
    width: 100%;
    height: auto;
    border-radius: 11px;
} 

.catDescription {
    width: 80%;
    margin: 20px auto 30px auto;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.viewDetailsBTNMobile {
    margin: 0px auto 20px auto;
    padding: 10px 30px;
    max-width: 150px;
    border: solid 2px #91c0dc;
    border-radius: 22px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #91c0dc;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
}

.contactBTNDesktop {
    display: none;
}
      
.arrivingSoonBTN {
    margin: 10px auto 50px auto;
    padding: 10px 30px;
    max-width: 250px;
    border: solid 2px #91c0dc;
    border-radius: 22px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #1a4964;
    letter-spacing: 3px;
    text-align: center;
}

@media(min-width: 768px) {

    .viewDetailsBTNMobile {
        font-size: 1rem;
        margin-bottom: 60px;
    }

    .contactBTNDesktop {
        display: block;
        margin: 10px auto 50px auto;
        padding: 10px 30px;
        max-width: 250px;
        border: solid 2px #91c0dc;
        border-radius: 22px;
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
        background-color: #91c0dc;
        letter-spacing: 3px;
        text-align: center;
    }

    .catDescription {
            width: 80%;
            margin: 20px auto 50px auto;
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 1.5;
    }

    .mainContainer {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .titleMain {
        margin: 40px;
        font-size: 2rem;
    }

    .titleWatch {
        margin-bottom: 20px;
        font-size: 2rem;
    }

    .imageContainer {
        width: 70%;
        margin: auto;
    }
}