.linkBTN {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.backLinkBTN {
    color: #000;
    text-decoration: none;
}

.backNav {
    margin: 20px 30px;
    font-size: 1.1rem;
}

.viewDetailsBTNMobile {
    margin: 10px auto 50px auto;
    padding: 10px 30px;
    max-width: 150px;
    border: solid 2px #91c0dc;
    border-radius: 22px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    background-color: #91c0dc;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
}

.viewDetailsBTNDesktop {
    display: none;
}

.titleMain {
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #323232;
}

.titleReviews {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #323232;
}

.containerMain {
    margin: 40px 30px;
    padding: 20px 30px;
    background: #eeeeee;
}

.ratingMainContainer {
    display: flex;
    align-items: center;
}


.imageStar {
 margin: 0 5px;
}

.ratingGrid {
    margin: 20px 40px;
    display: grid;
    max-width: 300px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.rating {
    font-size: 1.1rem;
    font-weight: 600;
}

.containerGrid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.nameKey {
    font-size: 1.1rem;
    font-weight: 600;
}

.nameValue {
    font-size: 1.1rem;
}

.dateKey {
    font-size: 1.1rem;
    font-weight: 600;
}

.dateValue {
    font-size: 1.1rem;
}


.review {
    margin: 20px 0;
    font-size: 1.1rem;
    line-height: 1.5;
}

.titleReviews {
  margin: 20px auto -10px auto;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #323232;
}

@media(min-width: 768px) {

    .backNav {
        margin: 100px;
        font-size: 1.5rem;
    }

    .viewDetailsBTNMobile {
        display: none;
    }

    .viewDetailsBTNDesktop {
        display: block;
        margin: 10px auto 50px auto;
        padding: 10px 30px;
        max-width: 250px;
        border: solid 2px #91c0dc;
        border-radius: 22px;
        font-size: 1.3rem;
        font-weight: 500;
        color: #fff;
        background-color: #91c0dc;
        letter-spacing: 3px;
        text-align: center;
        cursor: pointer;
    }
    .containerReview {
        margin-bottom: 100px;
    }
    .containerMain {
        width: 60%;
        margin: 30px auto;
        padding: 40px;
    }

    .titleMain {
        margin-top: 40px;
        font-size: 2rem;
    }

    .titleReviews {
        font-size: 2rem;
    }
}