
.linkBTN {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}
/* BTN SECTION */
.contactBTNContainer {
    margin: 30px auto;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    max-width: 200px;
    border-radius: 22px;
    background: #91c0dc;
  }

/* TOP BAR SECTION */
.topBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #a09e9e;  
}

.topBarContent {
    color: #fff;
}


/* HERO SECTION */

.contentMainHeroContainer {
    margin: 20px auto; 
 }

.imageHeroMobile {
    width: 100%;
    height: auto;
}

.imageSwiper {
    width: 100%;
    height: auto;
}

.headlineContentMain {
    font-size: 1.7rem;
    color: #323232;
    margin: auto 12px;
    text-align: center;
    font-weight: 700;
} 

.headlineContentSub {
    font-size: 1.3rem;
    color: #323232;
    text-align: center;
    font-weight: 700;
}

.titleContent {
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
    margin: 20px auto;
}

.content {
    margin: 20px 30px 20px 30px;
    text-align: start;
    font-weight: 400;
    font-size: 1rem;
    color: #777777;
}

.titleSkyDweller {
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 5px;
}

.refSkyDweller {
    text-align: center;
    font-size: 1.1rem;
    color: #323232;
}

.contentLuxury {
    text-align: start;
    font-weight: 400;
    font-size: 1rem;
    margin: 20px 30px 20px 30px;
    color: #777777;
}

.contentLuxury span {
    font-weight: 700;
    font-size: 1.3rem;
}

/* FOOTER SECTION */

.footerContainer {
    background: #a09e9e;
}

.footerContentContainerColumn {
    color: #fff;
    padding: 50px 50px 20px 50px;
}

.footerContentContainerRow {
    display: flex;
    color: #fff;
    font-size: 12px;
}

.contentItemColumn {
    margin: 0 auto 20px auto;
    cursor: pointer;
}

.contentItemRow {
    margin: 0 auto 20px auto;
    cursor: pointer;
}

.instagramIcon {
    padding: 0 0 20px 50px;
    cursor: pointer;
}

.subscriptionTitle {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin: 20px auto 10px auto;
}

.subscriptionContent {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin: 10px 20px;
}

.subscriptionContainer {
    display: flex;
    align-items: center;
}

.subscriptionEmailContent {
    margin: 15px 0 15px 15px;
    color: #323232;
    width: 100vw;
    border-radius: 9px 0 0 9px;
    padding: 13px;
    font-style: italic;
    font-size: 14px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.subscriptionArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #91c0dc;
    margin: 15px 15px 15px 0;
    height: 47px;
    width: 70px;
    border-radius: 0 9px 9px 0;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

/* SPEC  */
.specTitle {
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    color: #323232;
    margin: 20px auto 10px auto;
}

.specContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.specKey {
    margin: 20px;
    line-height: 2.5;
    letter-spacing: 1px;
    color: #777777;
    font-weight: 600;
    font-size: 1rem;
    justify-self: center;
    text-transform: uppercase;
}

.specValue {
    margin: 20px;
    line-height: 2.5;
    letter-spacing: 1px;
    color: #777777;
    font-weight: 600;
    font-size: 1rem;
    justify-self: center;
}

/* SUBSCRIPTION */
.subscriptionTitle {
    margin: 20px 0 10px 0;
}

.subscriptionContent {
    text-align: start;
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 20px;
    color: #323232;
    max-width: 400px;
}

/* FOOTER */
.footerContentContainerRow {
    font-size: 1rem;
    /* margin-bottom: 40px; */
}

.footerImage {
    margin-top: 60px;
  }
  
  .location {
    margin: 3px 10px;
    font-weight: 700;
    text-align: center;
  }
  
  .locationTitle {
  margin: 20px auto 5px auto;
  text-align: center;
  font-size: 1.1rem;
  }
  
  .locationAddress {
  margin: 5px;
  text-align: center;
  color: #717171;
  }
  .locationUnited {
  text-align: center;
  color: #717171;
  }
  
  .space {
  height: 30px;
  }

@media (min-width: 768px) {

    .gridContainerContactBTN {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    .contactBTNDesktop {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #91c0dc;
        color: #fff;
        font-size: 18px;
        text-align: center;
        padding: 13px;
        margin: 30px 30px 20px 30px;
        border-radius: 11px;
        cursor: pointer;
    }

    .contactImage {
        margin-right: 10px;
    }
    .heroSection {
        position: relative;
    }
    .heroMobile {
        display: none;
    }
    .heroDesktop {
        display: block;
    }

    .contentMainHeroContainer {
        padding: 40px;
        position: absolute; 
        top: 29%;
        left: 20%; 
        transform: translate(-50%, -50%); 
    }

    .headlineContentMain {
        max-width: 400px;
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        justify-items: center;
    }

    .headlineContentSub {
        max-width: 300px;
        color: #fff;
        font-size: 24px;
        justify-self: center;
    }

    .titleSkyDweller {
        font-size: 28px;
        font-weight: 700;
        color: #323232;
        margin: 30px auto 10px auto;
        text-align: center;
    }

    .refSkyDweller {
        font-size: 24px;
        font-weight: 500;
        color: #323232;
        /* margin: 30px; */
        text-align: center;
    }


    /* SWIPER */
    .swiperContainer {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 20px;
    }
    
    .swiperImage {
        border-radius: 11px;
    }
    .imageContainer {
        margin: 20px;
    }
    
    .detailsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .titleSwiper {
        font-size: 24px;
        font-weight: 700;
        color: #323232;
        margin: 20px;
        text-align: center;
    }

    .contentSwiper {
        font-size: 16px;
        margin: 20px;
        text-align: start;
        color: #323232;
    }


/* ROB DIAMOND CONTENT SECTION */
    .contentRobDiamond {
        margin: 40px 80px 60px 80px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.7;
        color: #323232;
    }

    .imageSpecContainer {
        position: relative;
        margin: 40px;
        background-image: linear-gradient(180deg, rgb(87, 87, 87) 0.61%, rgba(0, 0, 0, 0.4) 100%);
        border-radius: 11px;
    }

    .imageSpecBanner {
        z-index: -1000;
        border-radius: 11px;
    }

    .contentSpecContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width: 80vw;
        max-width: 700px;
    }

    .specTitle {
        font-size: 28px;
        text-align: center;
        font-weight: 700;
        color: #fff;
    }
    .specContainer {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
    }

    .specKey {
        margin: 20px;
        line-height: 2.5;
        letter-spacing: 1.3px;
        color: #fff;
        font-weight: 700;
        font-size: 1.1rem;
        justify-self: center;
    }

    .specValue {
        margin: 20px;
        line-height: 2.5;
        letter-spacing: 1.3px;
        color: #fff;
        font-weight: 700;
        font-size: 1.1rem;
        justify-self: center;
    }

    .gridContainerSubscription {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-around;
        align-items: center;
        margin: 50px 40px;
    }

    .subscriptionTitle {
        text-align: start;
    }

    .subscriptionContent {
        text-align: start;
        font-size: 1.1rem;
        font-weight: 400;
        margin: 10px 20px;
        color: #323232;
        max-width: 400px;
    }

    .subscriptionArrow {
        width: 120px;
        cursor: pointer;
    }

    /* FOOTER */
    .footerContentContainerRow {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    .footerContentContainerColumn {
        font-size: 1.3rem;

    }
}