
.linkBTN {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.backLinkBTN {
    color: #000;
    text-decoration: none;
}

.backNav {
    margin: 20px 30px;
    font-size: 1.1rem;
}
/* BTN SECTION */
.contactBTN {
    margin: 20px auto 20px auto;
    padding: 10px 30px;
    max-width: 150px;
    border: solid 2px #91c0dc;
    border-radius: 22px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #91c0dc;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
}

.expertBTN {
    margin: 20px auto 20px auto;
    padding: 10px 30px;
    max-width: 180px;
    border: solid 2px #91c0dc;
    border-radius: 22px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #91c0dc;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
}

.contactBTNenquire {
    width: 80%;
    margin: 20px auto 40px auto;
    padding: 10px;
    max-width: 260px;
    border: solid 2px #91c0dc;
    border-radius: 22px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #91c0dc;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
} 

.contactBTNDesktop {
    display: none;
}

/* HERO SECTION */
.contentMainHeroContainer {
    margin: 20px auto; 
 }

.imageHeroMobile {
    width: 100%;
    height: auto;
}

.imageSwiper {
    width: 100%;
    height: auto;
}

.headlineContentMain {
    font-size: 1.7rem;
    color: #323232;
    margin: auto 12px;
    text-align: center;
    font-weight: 700;
} 

.headlineContentSub {
    font-size: 1.3rem;
    color: #323232;
    text-align: center;
    font-weight: 700;
}

.titleContentTop {
    width: 90%;
    margin: 30px auto 30px auto;
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #212121;
}

.titleContent {
    width: 80%;
    margin: 10px auto 30px auto;
    text-align: center;
    font-weight: 300;
    font-size: 1.1rem;
    color: #212121;
} 

.titleContentPower {
    width: 80%;
    margin: 30px auto 30px auto;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    color: #212121;
}

.titleContentSub {
    width: 80%;
    margin: 30px auto 30px auto;
    padding: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #fff;
}

.content {
    width: 80%;
    margin: 30px auto;
    text-align: start;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #212121;
}

.titleSkyDweller {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 5px;
}

.modelRefContainer {
    padding: 10px;
}

.contentLuxury span {
    font-weight: 700;
    font-size: 1.3rem;
}

.captionTitle {
    text-align: center;
    font-size: 2rem;
}

.lItem {
    margin: 10px 0;
    font-size: 1.3rem;
    color:#323232;
} 

.titleMain {
    margin: 40px 30px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: #212121;
}

.containerReview {
    margin: 20px auto 40px auto;
    text-align: center;
}

.titleReviews {
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    font-size: 1.3rem;
}

.video {
    width: 100%;
    height: auto;
    margin: auto;
} 

.containerGIA {
    width: 80%;
    margin: 40px auto;
    border: 1px solid #bababa
}

.imageGIA {
    width: 30%;
    height: auto;
    margin: 20px 20px 0 20px;
}

.imageBourse {
    width: 50%;
    height: auto;
    margin: 20px 0 20px 20px;
}
@media (min-width: 768px) {

    .backNav {
        font-size: 1.5rem;
        margin: 100px;
    }

    .contactBTNDesktop {
        display: block;
        margin: 40px auto 40px auto;
        padding: 10px 30px;
        max-width: 250px;
        border: solid 2px #91c0dc;
        border-radius: 22px;
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
        background-color: #91c0dc;
        letter-spacing: 3px;
        text-align: center;
    }

    .contactBTN {
        display: none;
    }

    .contactImage {
        margin-right: 10px;
    }
    .heroSection {
        position: relative;
    }
    .heroMobile {
        display: none;
    }
    .heroDesktop {
        display: block;
    }

    .contentMainHeroContainer {
        padding: 40px;
        position: absolute; 
        top: 29%;
        left: 20%; 
        transform: translate(-50%, -50%); 
    }

    .headlineContentMain {
        max-width: 400px;
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        justify-items: center;
    }

    .headlineContentSub {
        max-width: 300px;
        color: #fff;
        font-size: 24px;
        justify-self: center;
    }

    .titleSkyDweller {
        font-size: 28px;
        font-weight: 700;
        color: #323232;
        margin: 30px auto 10px auto;
        text-align: center;
    }

    .titleContent {
        font-size: 1.5rem;
    }

    .refSkyDweller {
        font-size: 24px;
        font-weight: 500;
        color: #323232;
        text-align: center;
    }

    .content {
        width: 70%;
        margin: auto;
        font-size: 1.3rem;
    }

    /* SWIPER */
    .swiper {
        width: 70%;
        margin: auto;
    }

}