.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.imageWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 66.6%;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.currentImage {
    opacity: 1;
    z-index: 1;
}

.nextImage {
    opacity: 0;
    z-index: 2;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

/* Add desktop styles */
@media (min-width: 768px) {
    .carousel {
        width: 80%; /* Reduce width on desktop */
        max-width: 1200px; /* Maximum width to prevent getting too wide */
        margin: 40px auto; /* Add vertical and horizontal margin */
    }
} 