.linkBTN {
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.linkBTN:hover {
  color: #f0a500;
}

.imageFooter {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 0px;
}

.containerFlex {
  padding: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 500;
  background: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.containerFlex:hover {
  transform: translateY(-5px);
}

.itemFlex {
  cursor: pointer;
  color: #333333;
  margin: 5px;
}

.addressContainer {
    padding: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #333333;
}

.addressTitle {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.addressContentStart {
  margin: 40px 20px 20px 20px;
  text-align: start;
  font-size: 1.3rem;
  font-weight: 600;
}

.addressContent {
  text-align: center;
  margin: 20px;
  font-size: 1.1rem;
  color: #333333;
}

.addressCountry {
  margin-bottom: 20px;  
  font-size: 1.3rem;
}

.socialContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
  width: 50%;
  margin: 20px auto;
  cursor: pointer;
}

.socialContainer img {
  transition: transform 0.3s ease;
}

.socialContainer img:hover {
  transform: scale(1.1);
}

.socialIcon {
  margin: 20px 0;
}

.disclaimer {
  margin: 30px 20px;
  font-size: 0.8rem;
  color: #cccccc;
}

@media(min-width: 768px) {
  .addressContainer {
    width: 70%;
    margin: auto;
  }

  .addressContentStart {
    margin: 40px 20px 20px 20px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
  }

  .addressContent {
    text-align: center;
    margin: 20px;
    font-size: 1.1rem;
    color: #333333;
  }

  .footerContainer {
    width: 75%;
    height: auto;
    margin: auto;
  }

  .imageFooter {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 0px;
  }
}