.linkBTN {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.imageFooter {
    width: 100%;
    height: auto;
    margin: auto;
}

.containerFlex {
  padding: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: #c6c6c6;
}

.itemFlex {
  cursor: pointer;
}

.addressContainer {
    padding: 20px;
    text-align: center;
    color:#fff;
    background-color: #c6c6c6;
}

.addressTitle {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.addressContentStart {
  margin: 40px 20px 20px 20px;
  text-align: start;
  font-size: 1.3rem;
  font-weight: 600;
}

.addressContent {
  text-align: start;
  margin: 20px;
  font-size: 1.1rem;
  color: #fff;
}

.addressCountry {
  margin-bottom: 20px;  
  font-size: 1.3rem;
}

.socialContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  width: 50%;
  margin: 20px auto;
  cursor: pointer;
}

.disclaimer {
  margin: 30px 20px;
  font-size: 0.8rem;
}

@media(min-width: 768px) {
  .addressContainer {
    width: 50%;
    margin: auto;
  }

  .addressContentStart {
    margin: 40px 20px 20px 20px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
  }

  .addressContent {
    text-align: center;
    margin: 20px;
    font-size: 1.1rem;
    color: #474747;
  }
}