.linkBTN {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.imageFooter {
    width: 100%;
    height: auto;
}

.containerFlex {
  padding: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: #c6c6c6;
}

.itemFlex {
  cursor: pointer;
}

.addressContainer {
    margin: 10px 30px 40px 30px;
    text-align: center;
}

.addressTitle {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #323232;
}

.addressContent {
  margin: 10px;
  font-size: 1.1rem;
  color: #717171;
}

.addressCountry {
  margin-bottom: 20px;  
  font-size: 1.3rem;
  color: #717171;
}