.containerFlex {
    margin: 30px 5px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-items: center;
    align-items: center;
}

.undreline {
    text-decoration: none;
}

.titleMain {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(57, 57, 57);
    cursor: pointer;
} 

.title {
    text-decoration: none;
}

.contactIcon {
    cursor: pointer;
}