.titleMain {
    margin: 20px;
    text-align: center;
    font-weight: 600;
}


.orderedList {
    padding: 0;
    margin: 40px;
}
.content p{
   line-height: 1.5;
}

.titleTerms {
   margin: 20px;
   text-align: center; 
}

.listItem {
    margin: 20px;
}

.privacyNotice {
    margin: 40px 40px 0 40px;
} 

.additional {
    margin: 20px 40px 40px 40px;
}

.additional h3 {
    margin: 20px 0px;
}