.titleMain {
    margin: 20px;
    text-align: center;
    font-weight: 600;
}

.backLinkBTN {
    color: #000;
    text-decoration: none;
}

.backNav {
    margin: 20px 30px;
    font-size: 1.1rem;
}

.orderedList {
    padding: 0;
    margin: 40px;
}
.content p{
   line-height: 1.5;
}

.titleTerms {
   margin: 20px;
   text-align: center; 
}

.listItem {
    margin: 20px;
}

.privacyNotice {
    margin: 40px 40px 0 40px;
} 

.additional {
    margin: 20px 40px 40px 40px;
}

.additional h3 {
    margin: 20px 0px;
}

@media(min-width: 768px){
    .backNav {
        margin: 100px;
        font-size: 1.5rem;
    }

    .containerMain {
        width: 70%;
        margin: 20px auto;
        font-size: 1.3rem;
    }

    .titleTerms {
        margin-top: 40px;
    }
}
