.linkBTN {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.image {
    width: 100%;
    height: auto;
}

.contactBTN {
    margin: 0px auto 20px auto;
    padding: 10px 30px;
    max-width: 150px;
    border: solid 2px #91c0dc;
    border-radius: 22px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #91c0dc;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
}

.contactBTNDesktop {
    display: none;
}

.tagTitle {
    text-align: center;
    margin: 20px;
}

.intro {
    margin: 20px;
    color: #717171;
    font-size: 0.9rem;
}

.quote {
    font-style: italic;
    margin: 20px;
    color: #717171;
}

.luxuryContent {
    width: 80%;
    margin: 20px auto;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #242424;
}

@media (min-width: 768px) {

    .contactBTNDesktop {
        display: block;
        margin: 40px auto 40px auto;
        padding: 10px 30px;
        max-width: 250px;
        border: solid 2px #91c0dc;
        border-radius: 22px;
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
        background-color: #91c0dc;
        letter-spacing: 3px;
        text-align: center;
    }

    .contactBTN {
        display: none;
    }
    
    .tagTitle {
        margin: 40px;
        font-size: 1.5rem;
    }

    .intro {
        width: 80%;
        margin: 20px auto;
        font-size: 1.3rem;
        line-height: 1.5;
    }

    .quote {
        width: 80%;
        margin: 20px auto;
        font-size: 1.3rem;
        line-height: 1.5;
    }

    .introBlogWatch {
        width: 70%;
        margin: 40px auto;
    }

    .vintageCropped {
        display: none;
    }

    .skydwellerFlowers {
        width: 70%;
        margin: 40px auto;
    }

    .luxuryContent {
        width: 80%;
        margin: 20px auto;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.5;
        color: #242424;
    }

    
}