.imageContainer {
    margin: 40px;
}

.imageWatch {
    width: 100%;
    height: auto;
    border-radius: 22px;
    cursor: pointer;
}

.titleWatch {
    margin: 20px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}