.titleHeader {
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color:#222222;
}

.imageContainer {
    margin: 40px 30px 10px 30px;
}

.imageWatch {
    width: 100%;
    height: auto;
    border-radius: 11px;
    cursor: pointer;
}

.titleBrand {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.titleBrand::first-letter {
    text-transform: capitalize;
}

.titleWatch {
    margin: 0px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.viewDetailsBTN{
    width: 50%;
    height: auto;
    border: solid 2px #91c0dc;
    border-radius: 22px;
    padding: 10px 30px;
    margin: 10px auto 50px auto;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #91c0dc;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
}

.viewBTNContainer {
    text-decoration: none;
}