.heroImageMobile {
  width: 100%;
  height: auto;
}

.heroImageDesktop {
  display: none;
}


/* CTA BUTTONS */
.contactBTNContainer {
  margin: 30px auto;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  max-width: 200px;
  border-radius: 22px;
  background: #91c0dc;
}

.contactBTNLink {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}


/* CATEGORY SECTION */
.titleCategory {
  margin: 60px auto 20px auto;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #323232;
}

.imageCategoryContainer {
  margin: 30px 50px;
  cursor: pointer;
}

.imageCategory {
  width: 100%;
  height: auto;
  border-radius: 22px;
}

.titleCategoryWatch {
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #2e2e2e;
}

/* GUIDES SECTION */
.titleGuides {
  margin: 40px auto 20px auto;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #323232;
}

.imageGuidesContainer {
  position: relative;
}

.imageGuides {
  width: 100%;
  height: auto;
}

.tagGuides {
  margin-bottom: 20px;
  font-size: 1.3rem;
  text-align: center;
  color: #717171;
}

.guiedsBTN {
  margin: 30px auto;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  max-width: 200px;
  border-radius: 22px;
  background: #91c0dc;
  color: #fff;
}

/* HIGHLIGHTS SECTION */

.titleHighlights {
  margin: 40px auto 20px auto;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #323232;
}

.imageHighlights {
  width: 100%;
  height: auto;
}

.contentHighlightsContainer {
  text-align: center;
}

.conenttitleHighlights {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

.contentSubTitleHighlights {
  font-size: 1.7rem;
  font-weight: 500;
}

.paragraphHighlights1 {
  margin: 10px 30px 0 30px;
  text-align: center;
}

.highlightsBTN {
  margin: 30px auto;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  max-width: 200px;
  border-radius: 22px;
  background: #91c0dc;
  color: #fff;
}
@media(min-width:768px) {
  .heroImageMobile {
    display: none
  }

  .heroImageDesktop {
    display: block;
    width: 100%;
    height: auto;
  }

  /* CATEGORIES */

  .titleCategory {
    margin: 50px;
    font-size: 2rem;
  }
}