.linkBTN {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.backLinkBTN {
    color: #000;
    text-decoration: none;
}

.backNav {
    margin: 20px 30px;
    font-size: 1.1rem;
}

.titleMain {
    margin: 20px;
    text-align: center;
    font-weight: 600;
}

.viewDetailsBTNMobile {
    margin: 10px auto 50px auto;
    padding: 10px 30px;
    max-width: 150px;
    border: solid 2px #91c0dc;
    border-radius: 22px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    background-color: #91c0dc;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
}

.viewDetailsBTNDesktop {
    display: none;
}

.welcomeTag {
    text-align: center;
    margin: 20px;
    font-size: 1.3rem;
    color: #323232;
}

.faqIntro {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.faqsContainer {
    margin: 40px 30px;
    padding: 20px 30px;
    font-size: 1.1rem;
    background: #eeeeee;
}

.questionGrid {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-between;
    align-items: center;
}

.titleQuestion {
    margin-right: 10px;
    font-weight: 700;
}

.question {
 margin: 10px;
}

.titleAnswer {
    margin-right: 10px;
    font-weight: 700;
}

.answer {
    margin: 10px;
    line-height: 1.5;
}

@media(min-width: 768px) {

    .backNav {
        margin: 100px;
        font-size: 1.5rem;
    }
    .viewDetailsBTNMobile {
        display: none;
    }

    .viewDetailsBTNDesktop {
        display: block;
        margin: 10px auto 50px auto;
        padding: 10px 30px;
        max-width: 250px;
        border: solid 2px #91c0dc;
        border-radius: 22px;
        font-size: 1.3rem;
        font-weight: 500;
        color: #fff;
        background-color: #91c0dc;
        letter-spacing: 3px;
        text-align: center;
        cursor: pointer;
    }

    .faqsContainer {
        width: 60%;
        margin: 30px auto;
        padding: 40px;
    }

    .welcomeTag {
        text-align: center;
        margin: 20px;
        font-size: 1.7rem;
    }

    .faqIntro {
        width: 65%;
        margin: 20px auto 40px auto;
        font-size: 1.3rem;
        line-height: 1.5;
    }
}