.linkBTN {
    text-decoration: none;
    color: #212121;
}

.backLinkBTN {
    color: #000;
    text-decoration: none;
}

.backNav {
    margin: 20px 30px;
    font-size: 1.1rem;
}

.imageHeroMobile {
    width: 100%;
    height: auto;
}

.imageGrid {
    width: 100%;
    height: auto;
}

.containerImage {
    padding: 20px;
}

.containerGrid {
    display: grid;
    grid-template-columns: 50% 50%;
}
.tagline {
    margin: 20px auto;
    text-align: center;
    font-size: 1.5rem;
}

.titleSubCat {
    margin-bottom: 20px;
    text-align: center;
}

.containerGIA {
    width: 80%;
    margin: 40px auto;
    border: 1px solid #bababa
}

.imageGIA {
    width: 30%;
    height: auto;
    margin: 20px;
}

.textGIA {
    padding: 0 20px 20px 20px;
    line-height: 1.3;
}

@media(min-max: 768px){
    .containerGIAGrid {
        display: grid;
        grid-template-columns: 33% 33% 33%;
      }
}