.linkBTN {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.backLinkBTN {
    color: #000;
    text-decoration: none;
}

.backNav {
    margin: 10px 40px;
    font-size: 1.1rem;
}

.linkBTNCategory {
    text-decoration: none;
    color: #000;
}

.contactBTNContainerDesktop {
    display: none;
}

.titleCategory {
    width: 80%;
    margin: 20px auto;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #323232;
  }

.introContent {
    margin: 30px auto 30px auto;
    width: 80%;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.contactBTNContainerMobile {
  display: grid;
  justify-content: center;
  margin: 1.2rem auto;
  padding: 1rem 2rem; /* Use rem for padding to scale with font size */
  font-size: 1.1rem; /* Base font size */
  font-weight: 500;
  text-align: center;
  width: 60%; /* Use percentage for max-width to adapt to different screen sizes */
  border-radius: 4px;
  background: #36454F;
  color: #fff;
  box-sizing: border-box; /* Ensure padding is included in width calculations */
}


.viewBTN {
    display: grid;
  justify-content: center;
  margin: 1.2rem auto;
  padding: 1rem 2rem; /* Use rem for padding to scale with font size */
  font-size: 1.1rem; /* Base font size */
  font-weight: 500;
  text-align: center;
  width: 60%; /* Use percentage for max-width to adapt to different screen sizes */
  border-radius: 4px;
  background: #36454F;
  color: #fff;
  box-sizing: border-box; /* Ensure padding is included in width calculations */
  }

.containerGrid {
    margin: 15px 15px 0 15px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.imageContainer {
    margin: 5px;
}

.imageCategory {
    width: 100%;
    height: auto;
    border-radius: 11px;
}

.contentContainer {
    text-align: center;
}

.modelTitle {
    font-size: 1.1rem;
    font-weight: 600;
}

@media(min-width: 768px) {

    .backNav {
        font-size: 1.5rem;
        margin: 100px;
    }

    .contactBTNContainerMobile {
        display: none;
    }

    .contactBTNContainerDesktop {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        margin: 1rem auto;
        padding: 1.3rem 1rem 1rem 1rem; /* Use rem for padding to scale with font size */
        font-size: 1.1rem; /* Base font size */
        font-weight: 500;
        text-align: center;
        width: 30%; /* Use percentage for max-width to adapt to different screen sizes */
        border-radius: 4px;
        background: #36454F;
        color: #fff;
        box-sizing: border-box; /* Ensure padding is included in width calculations */
    }

    .contactBTN {
        width: 100%;
        font-size: 1.3rem;
        font-weight: 300;
    }

    .viewBTN {
        width: 50%;
        margin: 0 auto 40px auto;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .titleCategory {
        margin-top: 40px;
        font-size: 1.7rem;
    }
    .titleContactDesktop {
        margin-bottom: 20px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .introContent {
        width: 70%;
        margin: 30px auto;
        max-width: 1200px;
        font-size: 1.3rem;
    }

    .containerGrid {
        padding: 20px 100px 10px 100px;
    }

    .imageContainer {
        padding: 0 20px;
    }

    .rolexTitle {
        font-size: 1.5rem;
    }

    .modelTitle {
        font-size: 2rem;
    }
}