.linkBTN {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.backLinkBTN {
    color: #000;
    text-decoration: none;
}

.backNav {
    margin: 10px 40px;
    font-size: 1.1rem;
}

.linkBTNCategory {
    text-decoration: none;
    color: #000;
}

.contactBTNContainerDesktop {
    display: none;
}

.titleCategory {
    width: 80%;
    margin: 20px auto;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #323232;
  }

.introContent {
    margin: 30px auto 30px auto;
    width: 80%;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.contactBTNContainerMobile {
    display: grid;
    justify-content: center;
}

.contactBTN {
    margin: 0px 10px 30px 10px;
    padding: 7px 40px;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    max-width: 200px;
    border-radius: 22px;
    background: #91c0dc;
    color: #fff;
}

.viewBTN {
    margin: 0px 10px 30px 10px;
    padding: 7px 15px;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    max-width: 200px;
    border-radius: 22px;
    background: #91c0dc;
    color: #fff;
  }

  .comingsoonBTN {
    margin: 20px 10px 30px 10px;
    padding: 7px 15px;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    max-width: 200px;
    border-radius: 22px;
    background: #91c0dc;
    color: #fff;
  }

.containerGrid {
    margin: 15px 15px 0 15px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.imageContainer {
    margin: 5px;
}

.imageCategory {
    width: 100%;
    height: auto;
    border-radius: 11px;
}

.contentContainer {
    text-align: center;
}

.modelTitle {
    font-size: 1.1rem;
    font-weight: 600;
}

@media(min-width: 768px) {

    .backNav {
        font-size: 1.5rem;
        margin: 100px;
    }

    .contactBTNContainerMobile {
        display: none;
    }

    .contactBTNContainerDesktop {
        display: block;
    }

    .contactBTN {
        width: 50%;
        margin: 10px auto 30px auto;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .viewBTN {
        width: 50%;
        margin: 0 auto 40px auto;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .comingsoonBTN {
        width: 50%;
        margin: 20px auto 40px auto;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .titleCategory {
        margin-top: 40px;
        font-size: 1.7rem;
    }
    .titleContactDesktop {
        margin-bottom: 20px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .introContent {
        width: 70%;
        margin: 30px auto;
        max-width: 1200px;
        font-size: 1.3rem;
    }

    .containerGrid {
        padding: 20px 100px 10px 100px;
    }

    .imageContainer {
        padding: 0 20px;
    }

    .modelTitle {
        margin-top: 20px;
        font-size: 2rem;
    }
}