.linkBTN {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.backLinkBTN {
    color: #000;
    text-decoration: none;
}

.backNav {
    margin: 20px 30px;
    font-size: 1.1rem;
}

.imageHero {
    width: 100%;
    height: auto;
}

.imageWrist {
    width: 100%;
    height: auto;
}

.imageBracelet {
    width: 100%;
    height: auto;
}

.imageBatmanGold {
    width: 100%;
    height: auto;
}

.imageWatchGold {
    width: 100%;
    height: auto;
}

.contactBTN {
    margin: 0px auto 20px auto;
    padding: 10px 30px;
    max-width: 150px;
    border: solid 2px #91c0dc;
    border-radius: 22px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #91c0dc;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
}

.contactBTNDesktop {
    display: none;
}

.titleMain {
    width: 80%;
    margin: 0 auto 20px auto;
    font-size: 1.3rem;
    color: #323232;
}

.titleSub {
    margin: 20px;
    color: #323232;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
}

.tagTitle {
    text-align: center;
    margin: 20px;
}

.intro {
    width: 80%;
    margin: 30px auto;
    color: #323232;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.quote {
    width: 80%;
    margin: 30px auto;
    font-weight: 700;
    color: #323232;
    line-height: 1.5;
}

.listItem {
    width: 80%;
    margin: 30px auto;
    list-style-type: none;
    text-align: center;
    color: #323232;
    font-weight: 500;
    line-height: 1.5;
}

.luxuryContent {
    margin: 30px;
    font-size: 1rem;
    color: #242424;
}

@media (min-width: 768px) {

    .backNav {
        margin: 100px;
        font-size: 1.5rem;
    }

    .contactBTNDesktop {
        display: block;
        margin: 40px auto 40px auto;
        padding: 10px 30px;
        max-width: 250px;
        border: solid 2px #91c0dc;
        border-radius: 22px;
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
        background-color: #91c0dc;
        letter-spacing: 3px;
        text-align: center;
    }

    .contactBTN {
        display: none;
    }

    .heroImage {
        display: flex;
        justify-content: center;
    }

    .titleMain {
        font-size: 1.7rem;
    }

    .tagTitle {
        margin: 40px;
        font-size: 1.5rem;
    }

    .titleSub {
        margin: 20px 0 10px 0;
        color: #323232;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .intro {
        width: 70%;
        margin: 20px auto;
        font-size: 1.3rem;
        line-height: 1.5;
    }

    .quote {
        text-align: center;
        font-size: 1.3rem;
    }

    .wrist {
        width: 70%;
        margin: 40px auto;
    }

    .braceletJubilee {
        width: 70%;
        margin: 40px auto; 
    }

    .batmanGold {
        width: 70%;
        margin: 40px auto;
    }

    .watchesGold {
        width: 70%;
        margin: 40px auto;
    }

    .listItem {
        width: 70%;
        margin: 20px auto;
        text-align: start;
        color: #5a5a5a;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .luxuryContent {
        width: 80%;
        margin: 20px auto;
        font-size: 1.3rem;
        line-height: 1.5;
        color: #242424;
    }

    .contactBTN {
        margin: 50px 300px;
        cursor: pointer;
    }
}