.displaNone {
    display: none;
}

.linkBTN {
    text-decoration: none;
    color: #000;
}

.backBTN {
    margin: 20px;
}

.imageHeroDesktopContainer {
    display: none;
}

.imageHeroMobile {
    margin: 20px;
}
.titleMain {
    margin: 20px;
    text-align: center;
    font-size: 1.7;
    font-weight: 600;
}

.tagCompletion {
    margin: 0 20px;
    text-align: center;
    font-size: 1.5rem;
}

.contentMain {
    margin: 20px;
}

.tagCompletion {
    margin-bottom: 40px;
}
.caption1 {
    margin: 20px;
    text-align: center;
    font-size: 1.3rem;
}
.subTitle {
    margin: 20px 20px 0 20px;
    text-align: start;
    font-size: 1.1rem;
}


.description {
    margin: 10px 20px 20px 20px;
    font-size: 1.1rem;
    color: #575757;
    line-height: 1.5;
}

.imageRef1Container {
    padding: 20px;
}

.orderedList {
    margin: 10px;
    font-size: 1.3rem;
    color: #575757;
    line-height: 1.5;
}

@media(min-width: 768px) {
    .imageHeroDesktopContainer {
        display: block;
    }

    .imageHeroMobileContainer {
        display: none;
    }
}