.linkBTN {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.backLinkBTN {
    color: #000;
    text-decoration: none;
}

.backNav {
    margin: 40px 30px;
    font-size: 1.1rem;
}

.heroBtnDesktop {
    display: none;
}

.heroBtn {
    margin: 40px auto;
    padding: 10px;
    max-width: 200px;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    border-radius: 22px;
    background: #91c0dc;
    cursor: pointer;
  }

.imageHeroMobile {
    width: 100%;
    height: auto;
}

.tagline {
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.tagline2 {
    margin: 30px;
    text-align: start;
    font-size: 1.5rem;
}

.contentTitleSub {
    margin: 20px auto;
    text-align: start;
    font-size: 1.3rem;
    line-height: 1.3;
}

.content {
    width: 80%;
    margin: 20px auto;
    text-align: start;
    font-size: 1rem;
    line-height: 1.3;
}

.contentBottom {
    width: 80%;
    margin: 20px auto 40px auto;
    text-align: start;
    font-size: 1rem;
    line-height: 1.3;
}

.contentList {
    margin: 20px auto;
    text-align: start;
    font-size: 1rem;
    line-height: 1.3;
}

.orderedList {
    width: 80%;
    margin: 40px auto;
}

.itemList {
    font-size: 1.5rem;
}

.itemListUL {
    width: 80%;
    margin: 10px auto;
    font-size: 1rem;
}

.itemListUL span {
    font-weight: 600;
}

@media (min-width: 768px) {

    .heroBtnDesktop{
      width: 50%;
      margin: 10px auto 40px auto;
      max-width: 200px;
      display: block;
      padding: 10px 20px;
      text-align: center;
      color: #ffffff;
      border-radius: 22px;
      background: #91c0dc;
      border: 2px solid #91c0dc;
      font-weight: 700;
      font-size: 1.1rem;
      cursor: pointer;
      -webkit-filter: brightness(100%);
    }
    
    .heroBtn{
      display: none;
    }
   
  }
  